.blog-card {
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 380px;
  text-align: center;
  margin: 0 auto;
  font-family: 'inter-subtitle-regular';
}

.blog-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.blog-text {
  padding: 16px;
  font-family: 'inter-subtitle-regular';
}

.blog-text h3 {
  font-size: 20px;
  font-weight: 700;
  color: #111827;
  font-family: 'inter-subtitle-regular';
}

.blog-text p {
  font-size: 16px;
  color: #374151;
  font-family: 'inter-subtitle-regular';
}

