.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    font-family: 'inter-subtitle-regular';
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 15px;
}