.footer {
    background-color: #f5f5f5;
    padding: 40px 20px 20px 20px;
    font-size: 14px;
  }

  .footer-section h4{
    font-family: 'inter-body-bold';
    font-size: 16px;
    margin-bottom: 50px;
  }

  .footer-section li a{
    display: flex;
    align-items: center;
    gap: 12px;

    font-family: 'inter-body-bold';
    font-size: 13px;
    color: #565656;
  }

  .footer-section ul li{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 31px;
  }

  .footer-section li {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .footer-section a:hover {
    color: #007bff;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
  }
  
  .footer-section {
    min-width: 150px;
  }
  
  .footer-logo {
    height: 80px;
  }

  .partners-grid {
    display: grid;
    grid-template-columns: repeat(2, 40px);
    gap: 10px;
  }
  
  .partners-grid img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  }
  
  /*copyright teks*/
  .footer-bottom {
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    color: #666;
    font-family: 'inter-subtitle-regular';
    font-size: 11px;
  }
  