.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 2rem;
}

.promo-text-home {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0px 30px;

  font-family: 'inter-body-bold';
  font-size: 25px;
  color: black;
}

.promo-list-home {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding-right: 600px;
  margin-left: 30px;
}

.promo-list-home::-webkit-scrollbar {
  display: none;
}

.dot-indicators-home {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.dot-home {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ccc;
  transition: background-color 0.3s;
}

.dot-home.active {
  background-color: #333;
}

.cta-button {
  background-color: #D6802D;
  color: #fff;
  font-size: 16px;
  padding: 12px 28px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: 600;
}

.cta-button:hover {
  background-color: #d97706;
  transform: translateY(-2px);
}

.hotel-title {
  font-family: 'inter-body-bold';
  font-size: 36px;
  text-align: center;
  margin: 24px;
}

.hotel-grid {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.promo-title {
  font-family: 'inter-body-bold';
  font-size: 36px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.promo-grid {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  gap: 20px;
  justify-content: center;
}

.blog-title {
  font-family: 'inter-body-bold';
  font-size: 36px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  gap: 20px;
  justify-content: center;
}