.hotel-card {
  background: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  /* width: 100%; */
  min-width: 380px;
  min-height: 320px;
  transition: transform 0.2s ease;
}

.hotel-card:hover {
  transform: translateY(-4px);
}

.hotel-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.hotel-info {
  padding: 16px;
}

.hotel-info h3 {
  font-size: 16px;
  /* margin-bottom: 6px; */
  font-family: 'Inter-body-bold';
  height: 45px;
  width: 348px;
}

.location,
.rating {
  font-size: 13px;
  color: #555;
  margin: 4px 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

.star {
  color: gold;
}

.price {
  font-weight: bold;
  color: #C17329 !important;
  /* margin: 8px 0; */
}

.price-button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.btn-check {
  background: #D6802D;
  border: none;
  padding: 8px 12px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.btn-check:hover {
  background: #d97706;
}